body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: rgb(253, 254, 255);
  color: rgb(60, 60, 60);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -84px 0 0 -222px;
  text-align: left;
  padding: 20px;
  line-height: 64px;
  text-transform: lowercase;
}

header .small {
  font-size: 40px;
}

h1, h3 {
  font-family: Oswald, Helvetica, Arial, sans-serif;
  margin: 0;
  font-weight: 300;
}

h1 {
  font-size: 44px;
}

h3 {
  font-size: 24px;
  color: rgb(156, 156, 156);
}

a.github {
  color: rgb(153, 169, 211);
}

a.email {
  color: rgb(250, 155, 118);
}

a.twitter {
  color: rgb(120, 201, 175);
}

a.linkedin {
  color: rgb(154, 171, 209);
}

@media (max-width: 640px) {
  header {
    /*text-align: center;*/
    margin: -116px 0 0 -156px;
  }

  header .small {
    font-size: 36px;
  }

  h1, h2, h3 {
    font-family: Oswald, Helvetica, Arial, sans-serif;
    margin: 0;
    font-weight: 300;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 20px;
  }
}