body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  background: rgb(253, 254, 255);
  color: rgb(60, 60, 60);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  text-align: left;
  padding: 20px;
  text-transform: lowercase;
  line-height: 1.5;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 300;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 22px;
  color: rgb(156, 156, 156);
}

h3 {
  margin-top: 1em;
  font-size: 22px;
}

h3 a.github {
  color: rgb(153, 169, 211);
}

h3 a.blog {
  color: rgb(250, 155, 118);
}

h3 a.twitter {
  color: rgb(120, 201, 175);
}

h3 a.email {
  color: rgb(230, 138, 195);
}

h3 a.linkedin {
  color: rgb(154, 171, 209);
}

@media (max-width: 640px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  header {
    text-align: center;
  }

  header span {
    display: none;
  }

  header a {
    display: block;
  }
}
